.index-contenu {
    height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-contenu h1 {
    background: 50% 100% / 50% 50% no-repeat
                radial-gradient(ellipse at bottom, #fff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 8vw;
    animation: reveal 3000ms ease-in-out forwards 200ms,
               glow 2500ms linear 2000ms;
}
  
    @keyframes reveal {
      80%{
        letter-spacing: 8px;
      }
      100% {
        background-size: 300% 300%;
      }
    }
    @keyframes glow {
      40% {
        text-shadow: 0 0 8px #fff;
      }
    }
  
.index-contenu-p::after {
    content: ".";
    animation: blink ease 1s infinite;
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 0;
    } 50% {
      opacity: 1;
    }
  }

.index-contenu-p {
    padding: 0px;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: 2.7em;
    color: rgba(255, 255, 255, 0.8);
}

.index-contenu ion-icon {
  margin-top: 40px;
  font-size: 40px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  transition: all 0.5s ease-out;
  padding: 8px;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

.index-contenu ion-icon:hover {
  color: #249396;
  background: white;
}


@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* ------------------------------------------ */

.presentation {
    min-height: 100vh;
    width: 100%;
    color: #249396;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    background: black;
}

.presentation-contenu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 100px;
    background: none;
    padding: 40px;
    border-radius: 40px;
}

.div-image-presenation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.presentation .presentation-contenu .div-image-presenation img {
    height: 52vh;
    width: 32vh;
    object-fit: cover;
    animation: rotateImage 4s infinite alternate; /* Animation de rotation */
    box-shadow: 40px 16px #249396;
    border-radius: 20px;
    transition: 0.5s;
}

@keyframes rotateImage {
  from {
    transform: rotate(-2deg); /* Rotation initiale légèrement vers la gauche */
  }
  to {
    transform: rotate(4deg); /* Rotation vers la droite */
  }
}

.presentation-contenu h1 {
    padding: 0px;
    flex-direction: row;
    align-items: center;
    text-align: left;
    font-size: 4.5em;
    color: #249396;
    position: relative;
}

.presentation-contenu h3 {
    padding: 0px;
    flex-direction: row;
    align-items: center;
    text-align: left;
    font-size: 1.5em;
    color: white;
}

.presentation-contenu p {
    padding: 0px;
    flex-direction: row;
    align-items: center;
    text-align: justify;
    font-size: 1.3em;
    color: white;
}

.presentation-contenu a {
    color: blue;
    font-weight: bold;
    font-style: italic;
    font-size: 1em;
}

.presentation-contenu a:hover {
    color: blue;
    transition: 0.5s;
}

.presentation-contenu a:not(:hover) {
    color: #249396;
    transition: 0.5s;
}

/* ------------------------------------------*/
.projets {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-caroussel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-x: scroll; /* Add this line */
  scrollbar-width: thin; /* Add this line */
  scrollbar-color: black; /* Add this line */
  margin: 0 10px; /* Add this line */
  max-width: 2000px;
}

.projets h2 {
  font-size: 3em;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.card {
  display: flex;
  height: 340px;
  width: 200px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  /* box-shadow: -1rem 0 3rem #000; */
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  margin-top: 60px;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 60px;
  transition: 0.4s ease-out;
}

.title {
  color: black;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 50px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(36, 147, 150, 1) 65%, rgba(255, 255, 255, 1) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.contenucart {
  position: absolute;
  top: 70px;
  left: 20px;
  right: 20px;
  color: black;
  font-size: 1.1em;
}

.lieu-date-competence li {
  margin-top: 10px;
}

.contenucart ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.lieu-date-competence li a {
  color: black;
  font-style: italic;
  padding-left: 4px;
  font-size: 0.8em;
}

.lieu-date-competence li a:hover {
  color: #249396;
  transition: 0.3s;
}

.lieu-date-competence li input {
  margin-left: 4px;
  color: black;
}

.lieu-date-competence .ensavoirplus a:hover {
  color: blue;
  transition: 0.3s;
}






/* ------------------------------------------*/
.experience {
    min-height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.experience h1 {
  font-size: 3em;
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 80px;
}

.experience h2 {
    font-size: 2em;
}

.containerexp .titrelogo {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-bottom: 10px;
}

.containerexp .titrelogo img {
  height: 40px;
  width: 40px;
  text-align: center;
}

.containerexp ion-icon {
  font-size: 10px;
}

.exp1 {
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 20px;
    color: black;
}

.containerexp ul {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerexp ul li {
  display: flex;
  flex-direction: row;
  padding: 3px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.containerexp ul ion-icon {
  margin-right: 5px;
  font-size: 20px;
  color: black;
}

.containerexp ion-icon {
  margin-right: 5px;
  font-size: 20px;
  color: #249396;
}

.containerexp a {
  list-style-type: none;
  font-size: 1em;
  color: black;
}

.containerexp p {
  display: flex;
  align-items: center;
}


.containerexp a:hover {
  color: #249396;
  transition: 0.2s;
}

.exp2 {
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 20px;
  color: black;
}

.containerexp .exp2 .titrelogo img {
  height: 30px;
  width: 40px;
  text-align: center;
  margin-right: 5px;
}

/* CONTACT ------------------------------------------ */
.contact {
    min-height: 85vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.contact h2 {
    font-size: 3.4em;
    margin-top: 40px;
    animation: highlight 6s ease-in-out infinite;
    border-radius: 20px;
    padding: 3px;
}

@keyframes highlight {
  0% {
    color: white; /* initial color */
  }
  50% {
    color: #698d8e; /* desired color */
  }
  100% {
    color: white; /* initial color */
  }
}

.haut-container p {
    font-size: 1.5em;
    color: white;
    animation-duration: 3s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
    text-align: center;
}

.haut-container {
    border-radius: 20px;
    padding: 20px;
    max-width: fit-content;
    align-items: center;
}

.haut-container form {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 20px;
}

form label {
    font-size: 1.2em;
}

form input {
    margin: 10px 0;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
}

form textarea {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    min-width: 300px;
    min-height: 60px;
    max-width: 500px;
    max-height: 200px;
}

form button {
    margin-top: 10px;
    font-size: 1.3em;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    transition: background-color 0.3s;


}

form button:hover {
    background-color: white; 
}


.bas-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bas-container a img {
    margin-top: 5px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #128C7E;
}

.bas-container a img:hover {
    transform: scale(1.02);
    transition: 0.5s;
}

.bas-container a img:not(:hover) {
    transform: scale(1);
    transition: transform 0.5s;
}

.bas-container a {
    display: block;
    margin-bottom: 10px;
}

.bas-container .download-button {
    margin-top: 5px;
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 20px;

}

.bas-container .download-button:hover {
    transform: scale(1.02);
    transition: 0.5s;
    color: blue;
}

.bas-container .download-button:not(:hover) {
    transform: scale(1.0);
    transition: 0.5s;
}

.bas-container p {
    font-size: 1.3em;
    color: white;
}


@media (max-width: 915px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .bas-container p {
        font-size: 1.1em;
    }

    .haut-container p {
        font-size: 1.2em;
        color: white;
        animation-name: none;
        transition: none;
        text-align: center;
    }
}




/* ____________________________________ Responsive */
@media (max-width: 768px) {

  .index-contenu {
    width: 100%;
  }
  
  .index-contenu-p {
    font-size: 1.3em;
  }

  .index-contenu h1 {
    font-size: 4em;
    text-align: center;
  }

  .presentation {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .presentation-contenu {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .presentation-contenu h1 {
    font-size: 2.5em;
    margin-top: 20px;
}

.presentation-contenu h3 {
    font-size: 1.2em;
}

.presentation-contenu p {
    font-size: 0.9em;
}

.presentation .presentation-contenu .div-image-presenation {
  padding-top: 30px;
  padding-bottom: 50px;
}

.presentation .presentation-contenu .div-image-presenation img {
  height: 20vh;
  width: 20vh;
  object-fit: cover;
}


.projets h2 {
  font-size: 3em;
  margin-top: 40px;
}

.container-caroussel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  margin-bottom: 40px;
  flex-wrap: wrap;
  overflow-x: none; /* Add this line */
  scrollbar-width: none; /* Add this line */
}

.card {
  display: flex;
  height: 350px;
  width: 170px;
  background-color: #ffffff;
  border-radius: 20px;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 5px;
  margin-top: 30px;
  box-shadow: -10px 5px 5px black;
}

.card:not(:first-child) {
    margin-left: -10px;
}

.card:hover {
  transform: translateY(-10px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 10px;
  transition: 0.4s ease-out;
}

.title {
  color: black;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 50px;
  left: 20px;
  height: 5px;
  width: 130px;
}

.emptybar {
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(36, 147, 150, 1) 65%, rgba(255, 255, 255, 1) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.contenucart {
  position: absolute;
  top: 70px;
  left: 20px;
  right: 20px;
  color: black;
}

.contenucart p {
  font-size: 0.8em;
}

.lieu-date-competence li {
  margin-top: 10px;
}

.contenucart ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.lieu-date-competence li a {
  color: black;
  font-style: italic;
  padding-left: 4px;
  font-size: 0.8em;
}

.lieu-date-competence li a:hover {
  color: #249396;
  transition: 0.3s;
}

.lieu-date-competence li input {
  margin-left: 4px;
  color: black;
}

.lieu-date-competence .ensavoirplus a:hover {
  color: blue;
  transition: 0.3s;
}

.experience h1 {
  font-size: 2.5em;
  background: transparent;
  text-align: center;
}

.containerexp {
  padding: 30px;
}

.containerexp h2 {
  font-size: 1.5em;
}


.containerexp ion-icon {
  min-width: 20px;
  min-height: 20px;
  max-height: 20px;
  max-width: 20px;
}

.containerexp ul li {
  text-align: center;
}

.containerexp .competences ion-icon {
  display: none;
}

.contact {
    padding-left: 10px;
    padding-right: 10px;
}

  .contact h2 {
    font-size: 1.6em;
    text-align: center;
  }

  .bas-container p {
    font-size: 0.8em;
    text-align: center;
  }
}